<header>
  <h1>Editing Course</h1>
</header>
 
<%= form_for :course, url: course_path(@course), method: :patch do |f| %>
 
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@course.errors.count, "error") %> prohibited
        this course from being saved:
      </h2>
      <ul>
        <% @course.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
 <p>
    <center>
    <%= f.label :name, 'Course Name' %><br>
    <%= f.text_field :name %>
    </center>
 </p>
 
 <p>
    <center>
    <%= f.submit "Save Changes" %>
    </center>
    <%= link_to '<button type="button">Return to Student View</button>'.html_safe, student_attendance_index_path %>
  </p>
<% end %>