<header>
  <h1>Editing Course: <%= @course.name %></h1>
</header>


<%= form_for :course, url: course_path(@course), method: :patch do |f| %>
 
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@course.errors.count, "error") %> prohibited
        this course from being saved:
      </h2>
      <ul>
        <% @course.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
 <p class="showClass">
    <strong>Course Name: </strong> <br>
    <%= f.text_field :name %> <br>
 </p>
 
 <p>
    <center>
      <br>
      <%= f.submit "Save Changes" %>
      <div class="buttons">
        <%= link_to 'Return to Student View'.html_safe, student_attendance_index_path, :class=>"student" %>
      </div>
    </center>
  </p>
<% end %>