<header>
  <h1>Listing Courses</h1>
</header>

<%= link_to '<button type="button">Student Home Page</button>'.html_safe, student_attendance_index_path %><br>
<%= link_to '<button type="button">Add Course</button>'.html_safe, new_course_path %>

<table>
  <tr>
    <th>Name</th>
  </tr>
 
  <% @course.each do |course| %>
    <tr>
      <td><%= course.name %></td>
      <td><%= link_to 'Show', course_path(course) %></td>
      <td><%= link_to 'Edit', edit_course_path(course) %></td>
      <td><%= link_to 'Delete',
                              course_path(course),
                              method: :delete,
                              data: { confirm: 'Are you sure you want to delete this course?' } %></td>
    </tr>
  <% end %>
</table>