<header>
  <h1>Listing Courses</h1>
</header>

<center>
     <div class="buttons">
        <%= link_to 'Student Home Page'.html_safe, student_attendance_index_path, :class=>"student" %>
        <%= link_to 'Add Course'.html_safe, new_course_path, :class=>"student" %>
     </div>
</center>

<table>
  <tr>
    <th colspan="1">Courses</th>
    <th colspan="1" class="attendance">Presents | Tardies | Absences</th>
    <th colspan="3"></th>
  </tr>
 
  <% @course.each do |course| %>
    <tr>
      <td class="courseName"><%= course.name %></td>
      <td class="attendance"><%= course.getAttendance %> | <%= course.getTardies %> | <%= course.getAbsences %></td>
      <td class="emptyHead"><%= link_to 'Show', course_path(course) %></td>
      <td class="emptyHead"><%= link_to 'Edit', edit_course_path(course) %></td>
      <td class="emptyHead"><%= link_to 'Withdraw',
                              course_path(course),
                              method: :delete,
                              data: { confirm: 'Are you sure you want to withdraw from this course?' } %></td>
    </tr>
  <% end %>
</table>
