<header>
	<h1>New Course Enrollment</h1>
</header>

<div class="login-page">
	<div class="form">
		<p class="login-top-text">New Course</p>
		<%= form_for :course, url: course_index_path do |f| %>

		<% if @course.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@course.errors.count, "error") %> prohibited
				this course from being saved:
			</h2>
			<ul>
				<% @course.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
		<% end %>

		<p class="showClass">
			<strong>Course Name:</strong> <br>
			<%= f.text_field :name %> <br>
		</p>

		<p>
			<br>
			<center>
				<%= f.submit "Enroll" %>
			</center>
		</p>
		<% end %>
	</div>
</div>

<div class="buttons">
	<%= link_to 'Return to Student View'.html_safe, student_attendance_index_path, :class=>"student" %>
</div>