<header>
    <h1><%= @course.name %></h1>
</header>

<p class="showClass">
    <strong>Course: </strong>
    <%= @course.name %>
</p>

<div class="listCont">
<ul class="rectangle-list">
    <li><a href=""><%= @course.getAttendance %> days <b>Present</b> </a></li>
    <li><a href=""><%= @course.getTardies    %> days <b>Tardy</b>   </a></li>
    <li><a href=""><%= @course.getAbsences   %> days <b>Absent</b>  </a></li>                       
</ul>
</div>

<center>
<div class="attendanceBtn"> 
<div class="btn-group">
  <%= link_to '<button>Update Present</button>' .html_safe,  {:action => "show", :name => "present" } %></td>
  <%= link_to '<button>Update Tardies</button>' .html_safe,  {:action => "show", :name => "tardy"   } %></td>
  <%= link_to '<button>Update Absences</button>'.html_safe,  {:action => "show", :name => "absent" }  %></td>
</div>
</div>
</center>

<center>
    <div class="button">
        <%= link_to 'Return to Student View'.html_safe, student_attendance_index_path, :class=> "student" %>
    </div>
</center>