<%= stylesheet_link_tag "studentStyle.css" %>

<h1>New Course Enrollment</h1>

<%= form_for :student_attendnace do |f| %>
  <p>
    <%= f.label :CourseName, 'Course Name' %><br>
    <%= f.text_field :CourseName %>
  </p>
 
  <p>
    <%= f.label :ClassCode, 'Class Code' %><br>
    <%= f.text_area :ClassCode %>
  </p>
 
  <p>
    <%= f.submit "Enroll" %>
  </p>
<% end %>