<header>
    <h1>Attendance Tracker </h1>
</header>

<div class="login-page">
	<div class="form">
		<p class="login-top-text">LOGIN</p>
		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<div class="field">
			<%= f.email_field :email, autofocus: true, placeholder: "email" %>
		</div>

		<div class="field">
			<%= f.password_field :password, placeholder: "password" %>
		</div>

		<% if devise_mapping.rememberable? %>
		<div class="field">
		  <div class="rememberme">
		    <%= f.label :remember_me, "Remember?" %>
			  <%= f.check_box :remember_me %>
			</div>
		</div>
		<% end %>

		<div class="actions">
			<%= f.submit "Log in" %>
		</div>
		<% end %>
		</form>
	</div>
</div>
