<header>
    <h1>Attendance Tracker </h1>
</header>

<div class="login-page">
	<div class="form">
		<p class="login-top-text">SIGN UP</p>
		<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		<%= render "devise/shared/error_messages", resource: resource %>

		<div class="field">
			<%= f.email_field :email, autofocus: true, placeholder: "email" %>
		</div>

		<div class="field">
			<% if @minimum_password_length %>
			<em>(<%= @minimum_password_length %> characters minimum)</em>
			<% end %><br />
			<%= f.password_field :password, placeholder: "password" %>
		</div>

		<div class="field">
			<%= f.password_field :password_confirmation, placeholder: "re-enter password" %>
		</div>

		<div class="radio">
			<%= f.label "Are you a teacher or a student?" %><br />
			<%= f.label :teacher, "Teacher", :value => "true"  %>
			<%= f.radio_button :teacher, true %>
			<%= f.label :teacher, "Student", :value => "false" %>
			<%= f.radio_button :teacher, false, :checked => true  %>
		</div>

		<div class="actions">
			<%= f.submit "Sign up" %>
		</div>
		<% end %>
		</form>
	</div>
</div>

