<div class="home-screen">
     <body>
        <div class="heading">
            <span class="title">Attendance Tracker</span>
            <span class="motto">Attendance Tracking Made Easy!</span>
            <div class="buttons">
                <%= link_to "LOGIN".html_safe, new_user_session_path, :class=>"login" %>
                <%= link_to "REGISTER" .html_safe, new_user_registration_path, :class=>"register"%>
            </div>
        </div>
    </body>
</div>

<footer>
    <p>Test Buttons for Debugging/TAs</p>
    <%= link_to 'Home Page', root_path%>
    <%= link_to'Teacher View', new_teacher_attendance_path %>
    <%= link_to'Student View', new_student_attendance_path %>
    
    <% if current_user %>
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete%>
    <% else %>
    <%= link_to 'Sign in' , new_user_session_path %>
    <%= link_to 'Sign Up', new_user_registration_path%>
   <% end %>
</footer>
